*{
  /*resets the html to default*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*resets all ::before things*/
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*resets all ::after things*/
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
