/*small screen css starts here*/

@media only screen and (max-width: 450px){

  /*Removes the browser nav bar*/
  .header .navlinks{
    display: none;
  }

  /*Creates a nav bar hidden in the right side of the screen. Code from https://codepen.io/robdongas/pen/MWvKMRp*/
  .menu{
    position: absolute;
    top: 0;
    right: -60vw;
    z-index: 996;
    color: black;
    background: #0B6E4F;
    width: 60vw;
    padding-top: 15vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    transition-property: right;
    transition-duration: 0.2s;
  }

  /*Makes the menu appear when the user clicks on it*/
  .menu.active{
    right: 0;
  }

  /*Styles the text/links inside the nav menu*/
  .menu a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
  }

  /*Creates the space where the hamburger menu would appear*/
  .menu-toggle{
    position: absolute;
    top: 5vh;
    right: 5vw;
    z-index: 997;
    height: 5vh;
    width: 8vw;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  /*Styles the three bars of the hamburger menu*/
  .menu-toggle span, .menu-toggle span::before, .menu-toggle span::after{
    position: absolute;
    content: "";
    width: 8vw;
    height: 0.5vh;
    background: white;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  /*Spaces the top bar of the hamburger menu*/
  .menu-toggle span::before{
    top:-1.7vh;
  }

  /*Spaces the bottom bar of the hamburger menu*/
  .menu-toggle span::after{
    top: 1.7vh;
  }

  /*Makes the nav icon invisible when clicked*/
  .menu-toggle.active > span{
    background: transparent;
  }

  /*Colors the bars after they've been clicked*/
  .menu-toggle.active > span::before, .menu-toggle.active > span::after{
    top: 0px;
  }

  /*Rotates the top bar to form half of the "X"*/
  .menu-toggle.active > span::before{
    transform: rotate(-225deg);
  }

  /*Rotates the bottom bar to form the other half of the "X"*/
  .menu-toggle.active > span::after{
    transform: rotate(225deg);
  }

  /*Creates the individual boxes inside the nav menu*/
  .navbox{
    margin-bottom: -2px; /*Makes it so the borders overlap and don't seem thicker*/
    background-color: #0B6E4F;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px 0px;
    border-color: white;
    transition-property: background-color;
    transition-duration: 0.2s;
  }

  /*Changes what the navboxes looks like when the user hovers over them*/
  .navbox:hover{
    background-color: #EBA640;
    color: black;
    cursor: pointer;
  }

  /*makes everything go down in a column*/
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*removes the padding in the heading so it can center properly*/
  .main h1{
    padding: 0;
    margin-bottom: 1vh;
  }

  /*makes reference list content go down*/
  .taskContent{
    flex-direction: column;
    align-items: center;
  }

  /*Makes the task column list go down in a column*/
  .taskContent ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*resizes the task column for mobile*/
  .taskColumn{
    width: 85vw;
    margin-right: 0vw;
  }

  /*moves the remove task column button to fit the task column location*/
  .taskOut{
    left: 75vw;
  }

  /*resizes remove task column button*/
  .taskOut .icon{
    height: 4vh;  
  }

  /*creates space around the task column heading*/
  .taskColumn h2{
    margin: 2vw;
  }

  /*resizes task card for mobile*/
  .taskCard{
    width: 80vw;
  }

  /*lays out mobile version of the remove task and completion buttons*/
  .taskCard button{
    border: none;
    margin-top: 1vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
  }

  /*resizes add task button for mobile*/
  .taskAdd{
    width: 80vw;
  }

  /*resizes add task column button for mobile*/
  .taskColumnAdd{
    width: 85vw;
  }

  /*resizes form input for mobile*/
  .fullIn{
    width: 72vw;
  }

  /*lays out close new task form button for mobile*/
  .newTaskOut{
  left: 72vw;
  top: 1vh;
  }

  /*resizes and readjusts new task form form for mobile*/
  .newTaskForm{
    width: 80vw;
    margin-left: -40vw;
  }

  /*resizes and readjusts new task column form form for mobile*/
  .newTaskColumnForm{
    width: 80vw;
    margin-left: -40vw;
  }

  /*resizes submit button in form for mobile*/
  .addSubmit{
    width: 20vw;
  }



  
  /*pomodoro timer css*/

  /*styles the big pomo form*/
  .bigPomo{
    min-height: 135vh;
  }
  
  /*styles the little pomo countdown box*/
  .lilPomo{
    width: 72vw;
    min-height: 38vh;
  }

  /*centers the heading of the lilPomo*/
  .lilPomo h2{
    text-align: center;
  }

  /*makes sure the times go down in a column*/
  .times{
    flex-direction: column;
    align-items: center;
  }

  /*styles the "minutes" and "seconds" underneath the inputs*/
  .timeInd label{
    font-size: 1em;
    margin-left: 5.5vw;
    margin-bottom: 4vh;
  }

  /*styles the headings for the times and makes sure they go across*/
  .timeInput h2{
    width: 70vw;
    font-size: 2.5em;
  }

  /*styles the colon*/
  .timeInput p{
    font-size: 4em;
  }

  /*styles the input space for the times*/
  .timeInput input{
    background-color: transparent;
    border: none;
    border-bottom: 5px solid black;
    font-size: 5em;
    width: 25vw;
  }

  /*styles the start timer button*/
  .startPomo{
    font-size: 1.2em;
    width: 30vw;
  }

  /*styles the stop timer button*/
  .stopPomo{
    font-size: 1.2em;
    width: 30vw;
  }
  



  
  /*reference list css*/

  /*resizes add reference button space for mobile*/
  .addReferences{
    width: 90vw;
    margin-top: 3vh;
  }

  /*resizes the add new references on page butons*/
  .newReferences{
    width: 30vw;
    margin-bottom: 3vh;
  }

  /*makes the size of the text within the reference list smaller*/
  .referenceList{
    font-size: 0.8em;
  }

  /*makes items in single reference go down in a column instead of across in a row*/
  .singleReference{
    min-height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2vw;
  }

  /*makes the front of each reference stick to the left in a column*/
  .referenceFront{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  /*sets the space the reference titles can take up*/
  .referenceFront h2{
    width: 70vw;
    font-size: 1.3em;
  }
  
  /*formats the links name and also makes them not semi-bold*/
  .referenceFront p{
    width: 70vw;
  }

  /*makes information in single reference instead of across in a row*/
  .singleReference .referenceFront{
    justify-content: space-between;
    width: 90vw;
    height: 8vh;
    margin-top: 2vh;
  }

  /*styles the open link button*/
  .singleReference a{
    margin-bottom: 1vh;
    margin-left: 70vw;
    font-size: 1.2em;
  }

  /*creates a bit of space on the left of group reference title*/
  .groupTitle{
    padding-left: 2vw;
  }

  /*creates a bit of space next to the open/close group reference button*/
  .groupTitle button{
    margin-right: 1vw;
  }

  /*resizes the forms for mobile. all these need their own css because the different margin sizes in their web form css overwrites the default form css if we were to try implementing that*/
  .newGroupRefForm{
    width: 80vw;
    margin-left: -40vw;
  }

  .newSingleRefForm{
    width: 80vw;
    margin-left: -40vw;
  }

  .newSingleRefFormInGroup{
    width: 80vw;
    margin-left: -40vw;
  }

  /*make the open and close group icons a little bigger in mobile*/
  .openGroup .icon{
    height: 3.5vh;
  }

  .closeGroup .icon{
    height: 3.5vh;
  }


  /*stopwatch css*/
  .stopwatch{
    width: 10vh;
    height: 10vh;
    z-index: 995;
  }

  /*formats the stopwatch button before it is clicked on*/
  .stopwatchButton{
    width: 10vh;
    height: 10vh;
  }
  
  /*music player css*/
  .songName{
    font-size: 1em;
  }

  /*makes the songs in the songlist take up more space*/
  .songs{
    width: 60vw;
  }

  /*makes the songlist take up more space*/
  .songList{
    width: 60vw;
    right: -60vw;
  }

  /*makes sure songlist moves onto the screen properly when clicked on*/
  .songList.active{
    right: 0vw;
  }

  /*makes the artist name a little smaller*/
  .artistName{
    font-size: 0.8em;
  }

  /*makes sure the music player is formatted normally*/
  .musicInfo{
    width: 55vw;
  }

  /*lets the play song button be formatted like normal*/
  .musicMiddle{
    position: absolute;
    left: 68vw;
  }

  /*makes certain aspects of the music player disappear due to limited space*/
  .musicTimer{
    display: none;
  }

  #nextSong{
    display: none;
  }

  #prevSong{
    display: none;
  }

  .volumeSettings{
    display: none;
  }

  /*sets the location of the playlist button*/
  .playlistButton{
    left: 87vw;
  }
}